* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-black: #131921; 
  --color-brown: #3b4149;
  --color-yellow: #febd69;
  --color-darkbrown: #232f3e;
}
body {
  font-family: 'Rubik', sans-serif;
}
a {
  text-decoration: none;
  display: inline-block;
}
.form-control:focus {
  box-shadow: none;
  border-color: inherit;
}
.gap-10 {
  gap: 10px;
}
.gap-15 {
  gap: 15px;
}
.gap-30 {
  gap: 30px;
}
/* Header Start */

.header-top-strip {
  border-bottom: 1px solid var(--color-brown);
  background-color: var(--color-black);
}

.header-upper {
  background-color: var(--color-brown);
}
.header-bottom {
  background-color: var(--color-darkbrown);
}
.header-upper .input-group-text {
  background-color: var(--color-yellow);
}
.header-upper.header-upper-links img {
  width: 35px;
  height: 35px;
}
.header-bottom .menu-links a, 
.header-bottom .dropdown button {
  color: white;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0.3;
  text-transform: uppercase;
}
.header-bottom .dropdown button:focus {
  box-shadow: none;
}
.header-bottom .dropdown-menu {
  background-color: var(--color-black);
  width: 100%;
  transform: translate3d(0px, 56px, 0px) !important;
}
.header-bottom .dropdown-item {
  padding: 20px;
  margin-bottom: 3px;
  border-bottom: 1px solid var(--color-brown);
}
.header-bottom .dropdown-item:hover {
  background-color: transparent;
  color: var(--color-yellow);
}

/* Header End */

/* Footer starts */
footer {
  background-color: var(--color-darkbrown);
}
footer:nth-child(3) {
  border-top: 1px solid var(--color-brown);
}
/* Footer Ends */